.chartContainer{
    display: flex;
}
.chartContainer-tabs{
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-evenly;
}

.chartContainer-leftMargin{
    margin-left:50px ;
}

.chartContainer-rightMargin{
    margin-right: 50px;
}