.addCSVbutton-container{
    position: absolute;
    top: 35px;
    transform: translateX(-50%);
}

.isOpen{
   left: calc(50% + 120px);
   transition: 1s;
}

.isClosed{
   left: calc(50% + 25px);
   transition: 0.3s;
}