.chartContainer{
    display: flex;
}
.tabsContainer{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.chartMarginLeft{
    margin-left:50px ;
}

.chartMarginRight{
    margin-right: 50px;
}