
.app-container{
  display: flex;
  width: 100%;
}

.app-sideManu-open{
  width: 240px;
  transition: 1s;
}

.app-sideManu-shrinked{
  width: 50px;
  transition: 0.3s;
  background-color: rgb(189, 227, 238);
}

.app-body-container{
  width: 100%;
  
}

.app-body-topInfo-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;

}