.iconsSideBarContainer{
    background-color: aquamarine;
    width: 5%;
    height: 100vh;
    -webkit-box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}